*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Raleway;
    src: url(./font/Raleway/Raleway-VariableFont_wght.ttf);
}
body{
    font: inherit;
    font-family: rAL;
}
.nav-link {
    position: relative;
    text-decoration: none;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #007bff;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.nav-link:hover::after, 
.nav-link.active::after {
    transform: scaleX(1);
}
#contact-btn{
   background-color: #A00107;
   border-radius: 0;
   color: white;
}

/* about us */
.about-head img{
    width: 100%;
    height: 150px;
}
.about-head h1{
    color: #000269;
    margin-top: 10px;
}


/* why choose us */
.hero-choose-box-1a, .hero-choose-box-1b, .hero-choose-box-1c, .hero-choose-box-1d{
    border: 2px solid #ADADAD;
    padding: 10px 12px; 
    margin-bottom: 15px;
} 
.hero-choose-box-1a img, .hero-choose-box-1b img, .hero-choose-box-1c img, .hero-choose-box-1d img{
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
}

    /* team */
    
.carousel-container{
    margin-top: 5rem;
}
.carousel2-control-prev, .carousel2-control-next {
    border: 1px solid #A00107;
    border-radius: 60%;
    padding: 4px 7px;
}
.carousel2-control-next {
    margin-left: 10px;
}
.mission-set{
    display: none;
}














/* footer */
footer{
    margin-top: 10rem;
    justify-content: space-between;
    padding: 15px;
}
.footer-text1{
    width: 60%;
    margin-right: 1.5rem;
}
.footer-text1 button{
    border: 2px solid #A00107;
    color: #A00107;
    background-color: white;
    padding: 5px 10px;
    margin-top: 1rem;
}
.footer-text5 button{
    background-color: #A00107;
    color: white;
    padding: 2px 5px;
    border: none;
}






@media (min-width: 768px) {
    .about-head{
        display: flex;
        margin-top: 2rem;
    }
    .about-head img{
        width: 55%;
        height: 200px;
    }
    .about-head h1{
        margin-top: 6rem;
        color: #000269;
        margin-left: 1rem;
    }
    .about-text{
        display: flex;
    }
    .about-text-p{
        line-height: 2;
        width: 50%;
    }
    .about-text-img{
        width: 45%;
        padding: 1rem; 
        margin-left: 7.3rem;
    }
    .about-text-img img{
        height: 550px;
    }
    #about-text-img1{
        display:  block !important;
    }
    
.whatwedo{
    width: 45%;
    margin-top: 6rem;
}

#whatwedo-img{
    display: flex !important;
    margin-left: 1rem;
}
.img-1{
    margin: 1rem 0.5rem;
    height: 600px;
}
.img-3{
    margin: 2rem 0.5rem;
    height: 600px;
}
.img-2{
    margin: 7rem 1rem;
    height: 600px;
}
#num-count{
    display: flex !important;
}
.vision-header{
    display: flex;
}
.vision-header img{
    width: 195%;
    height: 280px;
}
.vision-header{
    width: 100%;

}
.vision-text{
    padding: 0.5rem;
    width: 35%;
}
.vision-text ul li{
    line-height: 1.5;
}
.vision-text-head img{
    width: 60%;
}
.mission{
    line-height: 1.5;
    width: 90%;
}


/* why choose us */
#hero-choose-img{
    display: block !important;
}
.hero-choose-box-1,.hero-choose-box-2,.hero-choose{
    display: flex;
}
.hero-choose-box-1a, .hero-choose-box-1b, .hero-choose-box-1c, .hero-choose-box-1d{
    width: 380px;
    margin-bottom: 0;
} 

.hero-choose-box-1a{
    border: 2px solid #ADADAD;
    padding: 10px 12px;
}
.hero-choose-box-1c{
    border-top: 0px solid #ADADAD;
    border-right: 2px solid #ADADAD;
    border-left: 2px solid #ADADAD ;
    border-bottom: 2px solid #ADADAD;
    padding: 10px 12px;
}
.hero-choose-box-1b{
    border-top: 2px solid #ADADAD;
    border-left: 0px solid #ADADAD;
    border-right: 2px solid #ADADAD;
    border-bottom: 2px solid #ADADAD;
    padding: 10px 12px;
}
.hero-choose-box-1d{
    border-top: 0px solid #ADADAD;
    border-left: 0px solid #ADADAD;
    border-right: 2px solid #ADADAD;
    border-bottom: 2px solid #ADADAD;
    padding: 10px 20px;
    
}
/* .hero-chooseboxx{
    padding: 0rem 10rem;
} */
.hero-choose-box{
    width: 100%;
    padding: 0rem 5rem 0 2rem;  
}
.hero-choose-head {
    padding: 0rem 5rem;  
    
}
.hero-choose-img1{
    width: 400px;
    height: 700px;
}
.mission-set{
    background-color: white;
    width: 1100px;
    height: 900px;
    display: grid !important;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    justify-self: center;
}
.topleft{
    grid-column: 1/3;
    display:  block !important;
}
.topright-mission{
    grid-column: 3/4;
    grid-row: 1/3;
    background-color: #33333305;
}
.topright-mission li{
    font-size: 14px;
}
.bottomLeft{
    grid-column: 1/2;
    grid-row: 2/4;
    display: block !important;
}

.bottomRight{
    grid-column: 2/4;
    grid-row: 3/4;
    margin-top: -21rem;
}
    /* carousel */
    .carousel-controls {
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: flex;
        gap: 10px;

    }
    .carousel2-control-prev, .carousel2-control-next {
        position: absolute;
        bottom: -50px;
        border: 1px solid #A00107;
        border-radius: 60%;
        padding: 4px 7px;

    }
    
    .carousel2-control-prev img, .carousel2-control-next img{
        width: 10px !important;
        height: 10px !important;
    }
    .carousel2-control-prev{
        left: 7% !important;
    }
    .carousel2-control-next{
        left: 12% !important;
    }
    .card .card-img-top {
        width: 100% !important;
        height: 370px; /* Adjust image height */
        object-fit: cover;
    }
    
    
    



















    
/* footer */
.footer-text1{
    width: 30%;
}
#footer2, #footer3, #footer4{
    display: block !important;
}
.footer-color{
    color: #000000;
}
.footer-text1 button{
    padding: 10px 20px;
}
.footer-text5 button{
    padding: 10px 20px;
}
.footer-text3 a{
    color: #A00107;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
}


}