*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-link {
    position: relative;
    text-decoration: none;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #007bff;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.nav-link:hover::after, 
.nav-link.active::after {
    transform: scaleX(1);
}
#contact-btn{
   background-color: #A00107;
   border-radius: 0;
   color: white;
}

/* main-section */
.hero-text h2{
  color: #000269;
  width: 55%;
}
.hero-btn{
    background-color: #A00107;
   border-radius: 0;
   color: white;
   border: none;
   padding: 10px 30px;
}
.hero-img{
    margin-right: 25px;
}
.hero-text p{
    width: 85%;
}
.hero-about{
    margin-top: 45px;
}
.about-btn{
    color: red;
    background-color: white;
    border: 1px solid red;
    padding: 10px 30px;
}

/* counter */
#counter1{
    display: inline-block; 
    padding: 2px 10px; 
    border-top: 2px solid #000269; 
    border-right: 2px solid #000269; 
    border-bottom: 2px solid #000269; 
    border-left: none; 
    height: 78px;
    font-size: 48px;
    color: #000269;

}
#counter2{
    display: inline-block; 
    padding: 2px 10px; 
    border-top: 2px solid #000269; 
    border-right: 2px solid #000269; 
    border-bottom: 2px solid #000269; 
    border-left: none; 
    height: 78px;
    font-size: 48px;
    color: #000269;
}
#counter3{
    display: inline-block; 
    padding: 2px 10px; 
    border-top: 2px solid #000269; 
    border-left: none; 
    border-bottom: 2px solid #000269; 
    border-right: none;
    height: 78px;
    font-size: 48px; 
    color: #000269;
}
.hero-choose-box-1a, .hero-choose-box-1b, .hero-choose-box-1c, .hero-choose-box-1d{
    border: 2px solid #ADADAD;
    padding: 10px 12px;
    margin-bottom: 15px;
}
.hero-choose-box-1a img, .hero-choose-box-1b img, .hero-choose-box-1c img, .hero-choose-box-1d img{
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
}
.hero-service-div h3{
    font-size: 32px;
}
.hero-service-div p{
    width: 75%;
}

/* learn more */
.learn-btn{
    border: none;
    justify-content: space-between;
    background-color: white;
}
.learn-btn img{
    margin-left: 2px;
}
.card{
    background-color: white;
    border-radius: 0;
    margin-bottom: 1rem  ;
}
.card img{
    border-radius: 0;
}
.carousel-container{
    margin-top: 15rem;
}
#card{
    border: none;
    box-shadow: none;
    border-style: none;
}
.hero-service-info button{
    margin-top: 4rem;
    padding: 10px 20px;
    background-color: white;
    color: #A00107;
    border: 1px solid #A00107;
}


/* project */
.hero-project{
    margin-top: 7rem;
}
.hero-project1{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 9.5rem;
}
#hero-project1-img{
    position: absolute;
    left: 5px;
    z-index: 2;
}
#hero-project1-img2{
    position: absolute;
    left: 1%;
    width: 100%;
    height: 130px;
    z-index: 1;
    object-fit: cover;
}
.hero-project2{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 9.5rem;
}
#hero-project2-img1{
    position: absolute;
    left: 1%;
    width: 100%;
    height: 130px;
    z-index: 1;
    object-fit: cover;
}
.hero-project3{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 9.5rem;
}
#hero-project3-img1{
    position: absolute;
    left: 1%;
    width: 100%;
    height: 130px;
    z-index: 1;
    object-fit: cover;
}


/* footer */
footer{
    margin-top: 20rem;
    justify-content: space-between;
}
.footer-text1{
    width: 60%;
    margin-right: 1.5rem;
}
.footer-text1 button{
    border: 2px solid #A00107;
    color: #A00107;
    background-color: white;
    padding: 5px 10px;
    margin-top: 1rem;
}
.footer-text5 button{
    background-color: #A00107;
    color: white;
    padding: 2px 5px;
    border: none;
}

















@media (min-width: 768px) {
    .hero-section{
        display: flex;
        position: relative;
    }
    .hero-section-img2{
        position: absolute;
        top: 35rem;
        left: 50%;
        
    }
   #hero-img{
    display: block !important;
   }
   .hero{
    display: flex;
   }
   .hero-text h1{
    color: #000269;
    width: 50%;
    font-size: 88px;
  }
  .hero-text p{
    width: 55%;
}
.about-btn{
    color: red;
    background-color: white;
    border: 1px solid red;
    padding: 20px 30px;
}
#hero-img2{
    display: block !important;
}
#about-img{
    display: block !important;
    margin-right: 30px;
}
.hero-about{
    margin-top: 30rem;
    display: flex;
}
.hero-about-text{
    margin-top: 25px;

}
.hero-about-text button{
    padding: 10px 30px;

}
.whatwedo{
    width: 55%;
    margin-top: 6rem;
}

#whatwedo-img{
    display: flex !important;
}
.img-1{
    margin: 1rem 0.5rem;
    height: 600px;
}
.img-3{
    margin: 2rem 0.5rem;
    height: 600px;
}
.img-2{
    margin: 7rem 1rem;
    height: 600px;
}
#num-count{
    display: flex !important;
}
#hero-choose-img{
    display: block !important;
}
.hero-choose-box-1,.hero-choose-box-2,.hero-choose{
    display: flex;
}
.hero-choose-box-1a, .hero-choose-box-1b, .hero-choose-box-1c, .hero-choose-box-1d{
    width: 370px;
    margin-bottom: 0;
}
/* .hero-chooseboxx{
    padding: 0rem 10rem;
} */
.hero-choose-box{
    width: 100%;
    padding: 0rem 5rem 0 2rem;  
}
.hero-choose-head {
    padding: 0rem 5rem;  
    
}
.hero-choose-img1{
    width: 400px;
    height: 700px;
}
.hero-service{
    margin-top: 10rem;
}
.hero-service-info{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

#card-1{
    margin-left: 5px;
}
#card{
    width: 430px;
}
.hero-project{
    margin-top: 12rem;
}
#hero-project1-img{
    display: block !important;
}
.hero-project1{
    justify-content: center;
    display: flex;
    margin-top: 3rem; 
}
#hero-project1-img{
    position: absolute;
    left: 1%;
    z-index: 2;
    object-fit: cover;

}
#hero-project1-img2{
    position: absolute;
    left: 20%;
    z-index: 1;
    height: 260px;
    width: 80%;
}
.hero-project2{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 18rem;
}
#hero-project2-img1{
    height: 260px;
    z-index: 1;
    width: 85%;
    left: 1%;  
}
#hero-project2-img2{
    display: block !important;
    position: absolute;
    left: 80%;
    z-index: 2;
    width: 20%;
    object-fit: cover;
}
.hero-project3{
    justify-content: center;
    display: flex;
    margin-top: 18rem; 
}
#hero-project3-img1{
    position: absolute;
    left: 1%;
    z-index: 2;
    object-fit: cover;
    width: 25%;

}
#hero-project3-img2{
    position: absolute;
    left: 20%;
    z-index: 1;
    height: 260px;
    object-fit: cover;
    display: block !important;
}
#project-btn{
    display: block !important;
    justify-content: center;
    align-items: center;
    position: relative;
}
#project-btn button{
    position: absolute;
    left: 45%;
    padding: 10px 25px;
    border: none;
    color: white;
    background-color: #A00107;

}


/* footer */
.footer-text1{
    width: 30%;
}
#footer2, #footer3, #footer4{
    display: block !important;
}
.footer-color{
    color: #000000;
}
.footer-text5 button{
    padding: 10px 20px;
}
.footer-text3 a{
    color: #A00107;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
}












}